div {
margin: 0 auto;
text-align: center;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  color: white;
}

li {
  float: left;
  text-align: center;
  margin: 0 auto;
}

.tip1 {
  display: block;
  text-align: center;
  padding: 20px 56px;
  text-decoration: none;
  margin: 0 auto;
}



header {
text-align: center;
font-size: 28px;
display: block;
background-color: rgba(0, 0, 0, 0.8);
color: white;
height: 50px;
padding: 30px 10px;
margin: 10px;
overflow: hidden;
}

.cabeza {
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 30px;
padding-left: 30px;
padding-right: 30px;
margin: 10px;
}

h1 {
font-weight: bold;
font-size: 80px;
}

.Roboto1 {

font-family: 'Roboto', sans-serif;
color: rgb(29,29,31);
}

.red {
color: red;
font-size: 18px;
}

.bot {
background-color: rgb(0, 113, 227);
color: white;
margin: 10px;
padding: 10px;
}

.info {
color: rgb(0, 113, 227);
text-decoration: none;
}

.box {
width: 600px;
height: 600px;
background-color: rgb(242, 242, 242);
text-align: center;
display: inline-block;
font-family: 'Roboto', sans-serif;
font-size: 25px;
overflow: hidden;
margin: 30px;
padding: 30px;
}

.bloque-cajas {
text-align: center;
}

.img-peq {
width: 600px; 
height: 300px;
padding: 20px;
}

.margen {
margin: 30px;
}

h4 {
font-weight: bold;
font-size: 33px;

}

footer {
color: rgb(81, 81, 84);
background-color: rgb(245, 245, 247);
font-size: 18px;
}

.color-grey {
color: grey;
}

.final {
text-decoration: none;
color: rgb(29,29,31);
}


.cabeza1 {
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 30px;
padding-left: 50px;
padding-right: 50px;
margin: 30px;
}